 header {
    font-size: 1.5em;
    font-family: impact;
    color: white;
    background: #009432;
    text-align: center;
    padding: 1em;
 }
 
 body {
    font-family: Tahoma, Geneva, sans-serif;
 }

 h1 {
    font-family: impact;
 }

 h2 {
   font-family: impact;
}
 
#artList ul {
   background: #EA2027 ;
   list-style-type: none;
   padding: 0;
}
 #artList li {
    background: #EA2027;
    padding: 10px;
    
}

.searchBox {
   padding: 10px;
}

.searchBoxBtn {
   border: none;
   background: #009432;
   color: white;
}
#artList li:hover{
   background: #F79F1F;
}

button {
   border: none;
   float: right;
   background: #009432;
   color: white;
   padding: 5px 20px;
   margin-left: 10px;
}