 header {
    font-size: 1.5em;
    font-family: impact;
    color: white;
    background: green;
    text-align: center;
    padding: 1em;
 }
 
 h1 {
    font-family: impact;
 }

 h2 {
   font-family: impact;
}
 
#artList ul {
   background: red;
   list-style-type: none;
}
 #artList li {
    background: red;
    padding: 10px;
    
}

#artList li:hover{
   background: yellow;
}

button {
   border: none;
   float: right;
   background: green;
   color: white;
   padding: 5px 20px;
   margin-left: 10px;
}